*{
    margin:0px;
    padding:0px;
}
body {
    padding:40px;

}
#cajas{
    max-width: 1035px;
    border: 1px solid black;
}
.caja{
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border:10px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    padding: 20px;
    padding-bottom:34px ;
    float:left;
}
#cajas {
    display: flex;
    flex-wrap: wrap;  /* Permite que los elementos se muevan a la siguiente línea si es necesario */
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caja {
    display: block;
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 10px solid red;
    padding: 20px;
    padding-bottom: 34px;
}
